$backgroundColor: #ecc7ac;
$bodyColor: #3e302f;
$footerColor: #ffd8b9;

/* FONT IMPORTED */

/* Fira Sans */
@import url("https://fonts.googleapis.com/css?family=Fira+Sans");

/** HEADER */
body {
  margin: 0px;
  background-color: $bodyColor;
  font-family: "Quicksand";
}
/** NAVIGATION BAR */
.TopPart {
  height: 145px;
}
nav {
  overflow: hidden;
  background-color: $backgroundColor;
  position: absolute;
  top: 0;
  width: 100%;
  // height: 55px;
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 70px solid #c2a28b;
  z-index: 1;
  div {
    display: inline-block;
    font-size: 22px;
    a {
      color: #927e70;
      text-decoration: none;
      padding: 14px;
      &:hover {
        color: #fff;
      }
    }
  }
  .logo-container {
    padding-right: 20px;
    height: 70px;
  }
  .logo {
    height: 100%;
    width: auto;
  }
}
.middle-container {
  display: grid;
  justify-content: center;
  grid-template-rows: 675px 675px 675px;
  grid-row-gap: 60px;
  margin-bottom: 60px;
  .block {
    width: 1200px;
    height: 675px;
    background-size: cover;
    display: grid;
    grid-template-columns: 40% 60%;
    .content {
      backdrop-filter: blur(16px);
      display: grid;
      grid-template-rows: 20% 80%;
      .title-box {
        justify-content: center;
        align-self: center;
        display: flex;
        .title-text {
          padding: 15px 30px;
          background-color: $footerColor;
          font-size: 30px;
          width: 230px;
          height: 40px;
          text-align: center;
        }
      }
      .description {
        color: white;
        margin: 0px 40px 0px 40px;
      }
    }
  }
  .block1 {
    background-image: url("../img/apartment-architecture-art-books-276724.jpg");
  }
  .block2 {
    background-image: url("../img/green-2-seat-sofa-1918291.jpg");
  }
  .block3 {
    background-image: url("../img/photo-of-person-near-swimming-pool-3889843.jpg");
    grid-template-columns: 60% 40%;
  }
  .block4 {
    background-image: url("../img/white-and-green-throw-pillows-1248583.jpg");
    grid-template-columns: 60% 40%;
    justify-content: center;
    display: flex;
    .content {
      height: 200px;
      width: 400px;
      display: block;
      grid-template-rows: unset;
      font-size: 30px;
      text-align: center;
      padding: 15px 30px;
    }
  }
}
.footer {
  width: 100%;
  height: 200px;
  // position: relative;
  // bottom: 0px;
  display: flex;
  justify-content: center;
  background-color: $footerColor;
  .footerBar {
    padding-top: 50px;
    height: 150px;
    width: 1280px;
    background-color: $footerColor;
    overflow: hidden;
    display: grid;
    grid-gap: 80px;
    grid-template-areas: "contactUs services information socialmedia";
    grid-template-columns: repeat(4, 1fr);
    font-size: 12px;
    a {
      padding: 0;
      color: #57483c;
      text-decoration: none;
      &:hover {
        color: #fff;
      }
    }
    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
      li {
        margin: 0.5em;
      }
    }
    .contactUs {
      grid-area: contactUs;
    }
    .services {
      grid-area: services;
    }
    .information {
      grid-area: information;
    }
    .socialmedia {
      grid-area: socialmedia;
      a {
        color: #707070;
      }
    }

    .row {
      display: flex;
      .column {
        flex: 50%;
      }
      .header {
        margin-top: 0.5rem;
      }
    }
  }
}
